.del {
    text-decoration: line-through;
}
.card{
  border-radius: 0 !important;
  border: none;
}
.card-body{
  padding: 0 !important;
}
.todo-title{
  width: 100%;
  background: #b88f92;
  color: #FFF
  ;
  font-size: 30px;
  font-weight: bold;
  padding: 20px 10px;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.custom-input{
  border-radius: 0 !important;
  padding: 10px 10px !important;
  border-bottom: none;
}
.custom-input:focus, .custom-input:active{
  box-shadow: none !important;
}
.custom-button{
  border-radius: 0 !important;
  cursor: pointer;
}
.custom-button:focus, .custom-button:active{
  box-shadow: none !important;
}
.list-group li{
  cursor: pointer;
  border-radius: 0 !important;
}
.checked{
  background: #98c8da;
  color: #95a5a6;
}
.error{
  border: 2px solid #e74c3c !important;
}
.not-checked{
  background: #2c0f63;
  color: #FFF;
  font-weight: bold;
}